@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6f6;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jost", sans-serif;
}

.scroll-container::-webkit-scrollbar {
  width: 6px; /* Slightly visible width */
  height: 6px; /* For horizontal scrollbar */
}



